@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

html,
* {
    margin: 0%;
    padding: 0%;
    font-family: 'DM Mono', monospace;
    background-color: rgb(30, 30, 30);
    border-radius: 100px;


}
.progetti-frame{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 1px red;
    justify-content: space-around;
    border-radius: 10px;

    
}

.general * {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;

}


.card{
    color: lime;
    display: flex;
    flex-direction: column;
    margin: 10px;
}


@media (max-width: 500px) {
    span {
        font-size: 75px;
    }

    p{
        font-size: 25px;
    }
}



